[submodule "third-src/jsoncpp"]
	path = third-src/jsoncpp
	url = git@github.com:open-source-parsers/jsoncpp.git
[submodule "third-src/spdlog"]
	path = third-src/spdlog
	url = git@github.com:gabime/spdlog.git
